@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

* {
  color: white;
  font-family: sans-serif;
}

h1 a {
  text-decoration: none;
}

h1, li {
  font-weight: bold;
}

li a {
  text-decoration: none;
}

li:hover .dev, li .fixedColor .dev {
  color: #3be5c9;
}

li:hover .pics, li .fixedColor .pics {
  color: #bb1efe;
}

li:hover .about, li .fixedColor .about {
  color: #ff5c6c;
}

li:hover .contact, li .fixedColor .contact {
  color: #ff951c;
}

h1 {
  font-size: 2em;
  margin: 0.3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

body {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

section {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  display: flex;
}

.nav li {
  margin: 1em;
}

.category {
  min-height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.category--dev {
  background-image: url("../images/code.jpeg");
}

.category--pics {
  background-image: url("../images/pics.jpeg");
}

.selectBox {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.selectBox:hover {
  opacity: .95;
}

.selectBox--dev {
  background-color: #3be5c9;
  border: solid #3be5c9;
}

.selectBox--pics {
  background-color: #bb1efe;
  border: solid #bb1efe;
}

.description {
  text-align: center;
  padding: 1.5em;
}

.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headband {
  z-index: -1;
  position: absolute;
  top: 50%;
  /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */
  width: 10%;
  height: 100%;
}

.headband .titleOfPage {
  display: flex;
  justify-content: center;
  position: absolute;
  rotate: -90deg;
  top: 50%;
  width: 100%;
}

.headband .titleOfPage h2 {
  font-size: 4em;
  color: white;
}

.headband .titleOfPage em {
  opacity: 0;
}

.headband--dev {
  background-color: #3be5c9;
}

.headband--pics {
  background-color: #bb1efe;
}

.headband--about {
  background-color: #ff5c6c;
}

.headband--contact {
  background-color: #ff951c;
}

.content {
  margin-left: 12%;
}

.website {
  cursor: pointer;
  width: 35em;
  background-color: black;
  transition: all 0.4s ease-out;
}

.website:hover {
  background-color: #3be5c9;
}

.descWebSite {
  padding: 1em;
}

.descWebSite h3 {
  text-align: center;
}

label {
  margin: 0.8em;
  font-size: 1.5em;
}

input, textarea {
  color: black;
  margin: 2em;
  padding: 1em;
  width: 70rem;
}

textarea {
  height: 18rem;
}

.form {
  width: 50%;
}

/*# sourceMappingURL=master.css.map */