@import "minireset.scss";
$backgroundColor: white;
$menuColor: black;
$textColor: white;
$secondcolorDev: #3be5c9;
$secondcolorPics: #bb1efe;
$secondcolorAbout: #ff5c6c;
$secondcolorContact: #ff951c;

* {
  color: $textColor;
  font-family: sans-serif;
}

h1 {
  a {
    text-decoration: none;
  }
}
h1, li {
  font-weight: bold;
}

li {
  a {
    text-decoration: none;
  }
  &:hover, .fixedColor {
    .dev {
      color: $secondcolorDev;
    }
    .pics {
      color: $secondcolorPics;
    }
    .about {
      color: $secondcolorAbout;
    }
    .contact {
      color: $secondcolorContact;
    }
  }
}

h1 {
  font-size: 2em;
  margin: 0.3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 2em;
  font-weight: bold;
  color: $textColor;
}

body {
  background-color: $backgroundColor;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $menuColor;
}
section {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  display: flex;
  li {
    margin: 1em;
  }
}

.category {
  min-height: 100vh;
  width: 25%;
  //height: 38em;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}
.category--dev {
  background-image: url("../images/code.jpeg");
}
.category--pics {
  background-image: url("../images/pics.jpeg");
}
.selectBox {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-out;
  &:hover{
    opacity: .95;
  }
}
.selectBox--dev {
  background-color: $secondcolorDev;
  border: solid $secondcolorDev;
}
.selectBox--pics {
  background-color: $secondcolorPics;
  border: solid $secondcolorPics;
}
.description {
  text-align: center;
  padding: 1.5em;
}

.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headband{
  z-index: -1;
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  width: 10%;
  height: 100%;
  .titleOfPage{
    display: flex;
    justify-content: center;
    position: absolute;
    rotate: -90deg;
    top: 50%;
    width: 100%;
    h2 {
      font-size: 4em;
      color: $backgroundColor;
    }
    em {
      opacity: 0;
    }
  }
}
.headband--dev{background-color: $secondcolorDev;}
.headband--pics{background-color: $secondcolorPics;}
.headband--about{background-color: $secondcolorAbout;}
.headband--contact{background-color: $secondcolorContact;}

//Web site book
.content {
  margin-left: 12%;
}
.website {
  cursor: pointer;
  width: 35em;
  background-color: $menuColor;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: $secondcolorDev;
  }
}
.descWebSite {
  padding: 1em;
  h3 {
    text-align: center;
  }
}

//form
label {
  margin: 0.8em;
  font-size: 1.5em;
}
input, textarea {
  color: $menuColor;
  margin: 2em;
  padding: 1em;
  width: 70rem;
}
textarea {
  height: 18rem;
}

.form {
  width: 50%;
}
