@import "minireset.scss";
$backgroundColor: #555555;
$menuColor: black;
$textColor: white;
$secondcolorDev: #acff4d;
$secondcolorPics: #66ccff;
$secondcolorAbout: #ff5c6c;
$secondcolorContact: #ff951c;

* {
  color: $textColor;
  font-family: sans-serif;
}

h1, li {
  font-weight: bold;
}

a, li {
  text-decoration: none;
  &:hover {
    .dev {
      color: $secondcolorDev;
    }
    .pics {
      color: $secondcolorPics;
    }
    .about {
      color: $secondcolorAbout;
    }
    .contact {
      color: $secondcolorContact;
    }

  }

}

h1 {
  font-size: 2em;
  margin: 0.3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

body {
  background-color: $backgroundColor;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $menuColor;
}
section {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.nav {
  display: flex;
  li {
    margin: 1em;
  }
}

.category {
  width: 38em;
  height: 38em;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}
.category--dev {
  border: solid $secondcolorDev;
  background-image: url("../images/code.jpeg");
}
.category--pics {
  border: solid $secondcolorPics;
  background-image: url("../images/pics.jpeg");
}

.description {
  text-align: center;
  padding: 1.5em;
}
.description--dev {
  background-color: $secondcolorDev;
}
.description--pics {
  background-color: $secondcolorPics;
}

.page {
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headband{
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  width: 10%;
  height: 100%;
  .titleOfPage{
    position: absolute;
    top: 50%;
    width: 100%;
    rotate: -90deg;
    h2 {
      //text-align: center;
      font-size: 4em;
      color: $backgroundColor;
    }
  }
}
.headband--dev{background-color: $secondcolorDev;}
.headband--pics{background-color: $secondcolorPics;}
.headband--about{background-color: $secondcolorAbout;}
.headband--contact{background-color: $secondcolorContact;}
